<!-- Grid system for info and client gallery -->
<div class="logo_sections">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p> <%= @client.name %> </p>
        <p> <%= @client.address %> </p>
        <p> <%= @client.phone_number %> </p>
        <p>
          <strong>Hour of Operation:</strong>
          <%= @client.open_time %> - <%= @client.close_time %>
        </p>
          <%= link_to 'Edit', edit_client_path(@client) %> |
          <%= link_to 'Back', clients_path %>
      </div>
      <div class="col-md-6">
        <%= image_tag @client.avatar.url(:large) %>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- End of client grid -->


<!-- Grid system for client fields -->
<div class="text-center">
  <h2> Book a Field </h2>
  <p> (Click on image for info) </p>
</div>
<div class="logo_sections">
  <div class="container">
    <div class="row">
      <% @fields.each do |field| %>
        <% if field.client_id == @client.id %>
          <div class="col-md-4">
              <%= link_to field do %>
                <%= image_tag field.avatar.url(:medium) %>
              <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- end of fields grid -->