<div class="fieldshow">
  <p> <%= @client.name %> </p>

  <p> <%= @client.address %> </p>

  <p> <%= @client.phone_number %> </p>

  <p>
    <strong>Hour of Operation:</strong>
    <%= @client.open_time %> - <%= @client.close_time %>
  </p>
  <hr>
  <%= image_tag @client.avatar.url(:medium) %>
</div>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<hr>


<h2 class="text-center"> Book a Field </h2>
<div class="logo_sections">
  <div class="center">
    <div class="row">
      <% @fields.each do |field| %>
        <% if field.client_id == @client.id %>
          <div class="col-md-4">
              <%= link_to field do %>
                <%= image_tag field.avatar.url(:medium) %>
              <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
