<p>
  <strong>Field Location:</strong>
  <%= @field.client.name %>
</p>

<p>
  <strong>Maximum Number of People Allowed:</strong>
  <%= @field.max_people %>
</p>

<p>
  <strong>Price Per Hour:</strong>
  <%= @field.price %>
</p>

<hr>
<%= image_tag @field.avatar.url(:medium) %>
<hr>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>

<h2> Available Bookings </h2>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slots.each do |slot| %>
    <% if slot.field_id == @field.id %>
      <tr>
        <td><%= slot.start_time %></td>
        <td><%= slot.end_time %></td>
        <td><%= link_to 'Show', slot %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>